


.card-bg {
    /**position: relative;
    padding: 3rem 3rem 4rem;
    background-color:rgba(20, 20, 20, 0.85);
    border: 10px;
    border-radius: 15px;
    color: #ffffff;**/
    display: grid;
    position: relative;
    max-width: 100%;
    z-index: 10;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    text-align: center;
    background-color:rgba(20, 20, 20, 0.85);
    border-radius: 2rem 2rem 2rem 2rem;
    -moz-transition: opacity 1s ease 0s,-moz-transform 1s ease 0s;
    -webkit-transition: opacity 1s ease 0s,-webkit-transform 1s ease 0s;
    -ms-transition: opacity 1s ease 0s,-ms-transform 1s ease 0s;
    transition: opacity 1s ease 0s,transform 1s ease 0s;
    color: #ffffff;
    position: relative;
    padding: 3.125rem 2.5rem;
    max-width: 100%;
    /**width: 40rem;**/
}

.gallery2 {
    position: relative;
    padding: 3rem 1.5rem 4rem;
    /**background-color:rgba(255,255,255,0.70);**/
    border: 10px;
    border-radius: 15px;
}
/**.card-body {
    margin: 0;
}**/

.card-title{
    margin: auto;
}
.card-title h1 {
    display: inline-block;
    text-align: center;
    font-size: 42px;
    margin: 0 .5em;
    font-variant: small-caps;
}

.card-subtitle {
    text-align: center;
    padding-top: 2.5em;
    color:rgba(255, 255, 255, 0.4);
}

.faicon {
    display: inline;
    color: #FFFC00;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}