
.photo {
    width: 10rem;
    height: 10rem;
    justify-self: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}

.userphoto {
    display: inline-block;
    justify-content: center;
    margin-top: 2rem;
    color: #ffffff;
    font-size: .8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.userphoto h1 {
    font-size: 1.5em;
}